@charset "UTF-8";
@import "var";
@import url(./reset.css);
/* s : 폰트 선언 */
@font-face {
    font-family: 'notoSansLight';
    font-style: normal;
    src: url("../font/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSansKR-Light.eot");
}

@font-face {
    font-family: 'notoSansRegular';
    font-style: normal;
    src: url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.eot");
}

@font-face {
    font-family: 'notoSansMedium';
    font-style: normal;
    src: url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.eot");
}

@font-face {
    font-family: 'notoSansBold';
    font-style: normal;
    src: url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.eot");
}

@font-face {
    font-family: 'robotoLight';
    font-style: normal;
    src: url("../font/Roboto-Light.woff") format("woff"), url("../font/Roboto-Light.eot");
}

@font-face {
    font-family: 'robotoRegular';
    font-style: normal;
    src: url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.eot");
}

@font-face {
    font-family: 'robotoMedium';
    font-style: normal;
    src: url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.eot");
}

@font-face {
    font-family: 'robotoBold';
    font-style: normal;
    src: url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.eot");
}
/* s : 폰트 선언 */

/* s : svg icon 공통 */
@function check($color){
    $color: '%23'+$color;
    $icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18"><path id="체크" d="M11.036,19.839,5.309,14.2,3.4,16.078,11.036,23.6,27.4,7.481,25.491,5.6Z" transform="translate(-3.4 -5.6)" fill="#{$color}"/></svg>';
    @return url($icon);
}
@function close($color){
    $color: '%23'+$color;
    $icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23.414" height="23.414" viewBox="0 0 23.414 23.414"><g id="닫기" transform="translate(-121.793 -10538.293)"><g id="그룹_119" data-name="그룹 119" transform="translate(37 -81)"><g id="그룹_118" data-name="그룹 118"><g id="그룹_116" data-name="그룹 116"><g id="그룹_115" data-name="그룹 115" transform="translate(453 -20.5)"><line id="선_1" data-name="선 1" x2="22" y2="22" transform="translate(-367.5 10640.5)" fill="none" stroke="#{$color}" stroke-width="2"/><line id="선_2" data-name="선 2" x2="22" y2="22" transform="translate(-345.5 10640.5) rotate(90)" fill="none" stroke="#{$color}" stroke-width="2"/></g></g></g></g></g></svg>';
    @return url($icon);
}
@function heart($color){
    $color: '%23'+$color;
    $icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18"><path id="즐겨찾기" d="M16.5,3A6.037,6.037,0,0,0,12,5.05,6.037,6.037,0,0,0,7.5,3,5.4,5.4,0,0,0,2,8.4c0,3.708,3.4,6.729,8.55,11.32L12,21l1.45-1.295C18.6,15.124,22,12.1,22,8.4A5.4,5.4,0,0,0,16.5,3ZM12.1,18.253l-.1.1-.1-.1C7.14,14.026,4,11.23,4,8.4A3.386,3.386,0,0,1,7.5,4.962a3.912,3.912,0,0,1,3.57,2.315h1.87A3.886,3.886,0,0,1,16.5,4.962,3.386,3.386,0,0,1,20,8.4C20,11.23,16.86,14.026,12.1,18.253Z" transform="translate(-2 -3)" fill="#{$color}"/></svg>';
    @return url($icon);
}
@function search($color){
    $color: '%23'+$color;
    $icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g id="검색" transform="translate(-153 -10621)"><path id="패스_35" data-name="패스 35" d="M21.582,19.352H20.408l-.416-.4a9.677,9.677,0,1,0-1.041,1.041l.4.416v1.174L26.785,29,29,26.785Zm-8.919,0a6.69,6.69,0,1,1,6.69-6.69A6.681,6.681,0,0,1,12.663,19.352Z" transform="translate(150 10618)" fill="#{$color}"/></g></svg>';
    @return url($icon);
}
@function arrow($color){
    $color: '%23'+$color;
    $icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21.74" height="45.345" viewBox="0 0 21.74 45.345"><path id="화살표" d="M0,0,18.75,20.625,20,22,0,44" transform="translate(21 44.673) rotate(180)" fill="none" stroke="#{$color}" stroke-linejoin="round" stroke-width="2"/></svg>';
    @return url($icon);
}
/* e : svg icon 공통 */

/* s : 레이아웃 */
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    letter-spacing: calc(-1 * (0.5rem / 13.34));
}
html{
    font-size: 1vw;
    font-family: $robotoM, $notoM;
    color: #222;
}
/* s : fullScreen`*/
#navTrigger{
    display: inline-block;
    position: fixed;
    bottom: tablet(20);
    left: tablet(20);
    appearance: none;
    z-index: 998;
    width: tablet(40);
    height: tablet(40);
    background: #fff;
    border: tablet(2) solid #999;
    border-radius: 100%;
    transition-duration: .3s;
    background-image: arrow(222);
    background-repeat: no-repeat;
    background-size: tablet(6);
    background-position: center;
    &:checked{
        transform: rotate(180deg);
    }
}
body.navoff{
    .ctlg_top_header{
        top: calc(-56rem / 13.34);
    }
    .ctlg_left_nav{
        left: calc(-140rem / 13.34);
    }
    .contents_top_states{
        top: calc(-84rem / 13.34);
    }
    .contents_top_nav{
        top: calc(-60rem / 13.34); 
    }
    .contents_detail{
        width: 100%!important;
        height: 100%!important;
        left: 0!important;
        top: 0!important;
    }
}
.ctlg_top_header,.ctlg_left_nav,.contents_top_states,.contents_top_nav,.contents_detail{
    transition-duration: .3s;
}
/* e : fullScreen`*/

.wrapper_skm_ctlg{
    width: 100%;
    height: 100%;
    position: relative;
}
.ctlg_top_header,.ctlg_left_nav,.ctlg_right_contents{
    display: inline-block;
    position: absolute;
}
.ctlg_top_header{
    left: 0;
    top: 0;
    width: 100%;
    height: tablet(56);
    background: #fff;
    border-bottom: tablet(1) solid #e5e5e5;
    .ctlg_header_menus{
        position: absolute;
        right: tablet(80);
        top: 50%;
        transform: translate(0,-50%);
        font-size: 0;
        dl{
            display: inline-block;
            &+dl{
                margin-left: tablet(30);
            }
            dt,dd{
                display: inline-block;
                vertical-align: middle;
            }
            dt{
                width: tablet(20);
                height: tablet(20);
                margin-right: tablet(4);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                &.icon_search{
                    background-image: search(222);
                }
                &.icon_fav{
                    background-image: heart(222);
                    position: relative;
                    span{
                        position: absolute;
                        right: -50%;
                        top: -50%;
                        display: inline-block;
                        width: tablet(20);
                        height: tablet(20);
                        line-height: tablet(20);
                        text-align: center;
                        background: #ff7a01;
                        border-radius: 100%;
                        font-size: tablet(10);
                        font-family: $robotoM,$notoM;
                        color: #fff;
                    }
                }
                &.icon_logout{
                    background-image: url(../images/icon/icon_logout.svg);
                }
            }
            dd{
                line-height: tablet(30);
                font-size: tablet(13);
                color: #666;
            }
        }//dl
    }//ctlg_header_menus
}
.ctlg_left_nav{
    left: 0;
    top: tablet(56);
    width: tablet(140);
    height: calc(100% - 56rem / 13.34);
    padding-top: tablet(60);
    background: #fff;
    border-right: tablet(1) solid #e5e5e5;
    h1.skm_ctlg_logo{
        width: 100%;
        height: tablet(48);
        margin-bottom: tablet(74);
        background: url(../images/icon/skm_logo.svg)no-repeat center left tablet(20) / tablet(94);
    }
    ul{
        li{
            padding: tablet(40) 0 tablet(40) tablet(20);
            font-family: $notoB;
            font-size: tablet(16);
        }
    }
}
.ctlg_right_contents{
    right: 0;
    bottom: 0;
    width: calc(100% - 140rem / 13.34);
    height: calc(100% - 56rem / 13.34);
    background: #fff;
    overflow: auto;
    .contents_top_nav{
        position: fixed;
        left: tablet(140);
        top: tablet(56);
        width: calc(100% - 140rem / 13.34);
        height: tablet(60);
        background: #f8f8f8;
        font-size: 0;
        z-index: 899;
        &.leftEnd{
            .btn_categories_prev{
                opacity: .5;
            }
        }
        &.rightEnd{
            .btn_categories_next{
                opacity: .5
            }
        }
        ul.nav_categories{
            display: inline-block;
            width: calc(100% - 160rem / 13.34);
            font-size: 0;
            vertical-align: middle;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            /* 스크롤바 숨기기 */
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }
            /* 스크롤바 숨기기 */
            li{
                display: inline-block;
                width: 20%;
                height: tablet(60);
                line-height: tablet(56);
                font-size: tablet(16);
                text-align: center;
                span{
                    font-family: $robotoB;
                    color: #999;
                }
                &.on{
                    border-bottom: tablet(3) solid $skm_red;
                    color: $skm_red;
                    span{
                        color: $skm_red;
                    }
                }
            }
        }
        .btn_categories_next{
            transform: rotate(180deg);
        }
        .btn_categories_prev,.btn_categories_next{
            display: inline-block;
            width: tablet(80);
            height: 100%;
            vertical-align: middle;
            background-size: tablet(9);
            background-repeat: no-repeat;
            background-position: center;
            background-image: arrow(222);
            opacity: 1;
        }
        & ~ .contents_detail{
            height: calc(100% - (116rem / 13.34));
            top: tablet(116);
        }
    }//contents_top_nav
    .contents_top_states{
        display: table;
        table-layout: fixed;
        position: fixed;
        left: tablet(140);
        top: tablet(56);
        width: calc(100% - 140rem / 13.34);
        height: tablet(84);
        line-height: tablet(84);
        background: #f8f8f8;
        font-size: 0;
        padding: 0 tablet(80);
        z-index: 899;
        .top_states_message{
            display: table-cell;
            font-size: tablet(16);
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .searchedFav,.searchedKeyword{
                margin-right: tablet(6);
                font-family: $robotoB, $notoB;
                font-size: tablet(28);
                vertical-align: sub;
            }
            .searchedFav{
                color: #ff7a01;
            }
            .searchedKeyword{
                color: $skm_red;
                &:before{
                    content: '"';
                }
                &:after{
                    content: '"';
                }                
            }
            .countSearched{
                font-size: tablet(24);
                font-family: $robotoB, $notoB;
                vertical-align: top;
                margin: 0 tablet(4);
            }
        }
        .top_states_buttons{
            display: table-cell;
            padding: 0 tablet(28);
            text-align: right;
            button{
                vertical-align: middle;
            }
            button + button{
                margin-left: tablet(10);
            }
        }
        .btn_states_close{
            display: table-cell;
            width: tablet(24);
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-image: close(222);
            vertical-align: middle;
        }
        & ~ .contents_detail{
            height: calc(100% - (140rem / 13.34));
            top: tablet(140);
        }
    }
    .contents_detail{
        display: inline-block;
        width: calc(100% - (140rem / 13.34));
        height: calc(100% - (56rem / 13.34));
        position: fixed;
        left: tablet(140);
        top: tablet(56);
        overflow: auto;
    }
}
/* e : 레이아웃 */


// s : *********************** 엘리먼트 ***********************
button[class^=btn_type]{
    width: tablet(180);
    height: tablet(48);
    line-height: calc(100% - (6rem / 13.34));
    border: 0;
    border-radius: 100rem;
    color: #fff;
    font-family: $robotoB, $notoB;
    font-size: tablet(16);
}
.btn_type_01{
    background-color: $skm_red;
}
.btn_type_02{
    background-color: #666;
}
/* s : 로그인 */
.skm_ctlg_login{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    h1.skm_ctlg_logo{
        margin: 0 auto;
        width: tablet(113);
        height: tablet(58);
        margin-bottom: tablet(40);
        background: url(../images/icon/skm_logo.svg)no-repeat center / 100%;
    }
    .wrapper_login{
        display: inline-block;
        width: tablet(400);
        input{
            appearance: none;
        }
        input[type=text],input[type=password]{
            width: 100%;
            height: tablet(52);
            padding: 0 tablet(20);
            border: tablet(1) solid #e7e7e7;
            font-family: $robotoR, $notoR;
            font-size: tablet(18);
            color: #222;
            &::placeholder{
                color: #666;
            }
        }
        input[type=text]{
            margin-bottom: tablet(10);
        }
        input[type=password]{
            margin-bottom: tablet(14);
        }
        input[type=checkbox]{
            width: tablet(20);
            height: tablet(20);
            border: tablet(1) solid #c2c2c2;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            background-size: tablet(14);
            background-color: #fff;
            background-image: check(c2c2c2);
            & + label{
                display: inline-block;
                height: tablet(20);
                line-height: tablet(20);
                margin-left: tablet(6);
                vertical-align: middle;
                font-family: $robotoR, $notoR;         
                font-size: tablet(14);
            }
            &:checked{
                background-image: check(fff);
                background-color: $skm_red;
                border-color: $skm_red;
            }
        }
        button{
            width: 100%;
            height: tablet(52);
            margin-top: tablet(40);
            border: 0;
            background: $skm_red;
            color: #fff;
            font-family: $robotoB, $notoB;
            font-size: tablet(18);
        }
    }
}
/* e : 로그인 */

/* s : 상품 레이어 팝업 */
.layer_mask,.popup_layer_contents,.popup_layer_contents_small{
    display: inline-block;
    position: fixed;
}
.layer_mask{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 998;
}
.test{
    height: 3000px;
}
.btn_layer_prev,.btn_layer_next{
    width: tablet(100);
    height: 100%;
    position: fixed;
    top: 0;
    background-size: tablet(23);
    background-repeat: no-repeat;
    background-position: center;
    background-image: arrow(fff);
    z-index: 999;
    transition-duration: .3s;
}
.btn_layer_prev{
    left: 0;
}
.btn_layer_next{
    right: 0;
    transform: rotate(180deg);
}
.wrapper_popup_layer{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
    user-select: none;
    &.on{
        display: inline-block;
    }
    .btn_layer_prev,.btn_layer_next{
        display: none;
    }    
    &.multi{
        .btn_layer_prev,.btn_layer_next{
            display: inline-block;
        }
    }
    &.leftEnd{
        .btn_layer_prev{
            opacity: .3;
        }
    }
    &.rightEnd{
        .btn_layer_next{
            opacity: .3;
        }
    }    
}
.popup_layer_contents{
    width: calc(100% - (200rem / 13.34));
    height: calc(100% - (200rem / 13.34));
}
.popup_layer_contents_small{
    width: tablet(700);
    height: tablet(320);
}
.popup_layer_contents,.popup_layer_contents_small{
    display: none;
    left: 50%;
    top: 50%;
    padding-top: tablet(50);
    background-color: #fff;
    transform: translate(-50%,-50%);
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    &.on{
        display: block;
    }
    .btn_layer_close{
        position: absolute;
        right: 0;
        top: 0;
        width: tablet(50);
        height: tablet(50);
        background-repeat: no-repeat;
        background-size: tablet(24);
        background-position: center;
        background-image: close(fff);
        background-color: #222;
        z-index: 1;
    }
    .slide_handler{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        font-size: 0;
        transition-duration: .3s;
    }
    .layer_page{
        display: inline-block;
        width: 100%;
        height: calc(100% - (50rem / 13.34));
        overflow-y: auto;
        overflow-x: hidden;
        font-size: tablet(30);
        text-align: center;
    }
}
/* e : 상품 레이어 팝업 */

/* s : 검색 레이어 팝업 */
.popup_search_bar{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: tablet(600);
    height: tablet(64);
    background-color: #fff;
    border-radius: 100rem;
    z-index: 999;
    font-size: 0;
    &.on{
        display: inline-block;
    }
    input[type=text]{
        appearance: none;
        width: calc(100% - (128rem / 13.34));
        height: 100%;
        border: 0;
        background: #fff;
        vertical-align: top;
        font-family: $robotoR, $notoR;
        font-size: tablet(18);
        color: #222;
        &::placeholder{
            color: #666;
        }
        &:focus{
            outline: 0;
        }
    }
    .btn_close_search,.btn_do_search{
        display: inline-block;
        width: tablet(64);
        height: tablet(64);
        background-repeat: no-repeat;
        background-position: center;
    }
    .btn_close_search{
        background-image: url(../images/icon/icon_back.svg);
        background-size: tablet(23);
    }
    .btn_do_search{
        background-image: search(e3163a);
        background-size: tablet(26);
    }
}
/* e : 검색 레이어 팝업 */

/* s : 마케팅 동의 레이어 팝업 */

/* e : 마케팅 동의 레이어 팝업 */
.wrapper_mkt{
    text-align: left;
    padding: 0 tablet(54);
    .mkt_title{
        font-family: $robotoB,$notoB;
        font-size: tablet(28);
        border-bottom: tablet(2) solid #222;
        padding-bottom: tablet(20);
        margin-bottom: tablet(20);
    }
    .mkt_detail{
        font-family: $robotoR,$notoR;
        font-size: tablet(18);
        color: #444;
    }
    .mkt_info{
        margin-top: tablet(46);
        .info_title{
            font-family: $robotoM,$notoM;
            font-size: tablet(18);
            margin-bottom: tablet(9);
        }
        .info_call{
            font-size: 0;
            > *{
                display: inline-block;
                height: tablet(56);
            }
            input{
                appearance: none;
                width: calc(100% - (150rem / 13.34));
                margin-right: tablet(10);
                padding: 0 tablet(20);
                font-family: $robotoR,$notoR;
                font-size: tablet(20);
                border: tablet(1) solid #c2c2c2;
                color: #222;
            }
            button{
                width: tablet(140);
                font-family: $robotoB,$notoB;
                font-size: tablet(18);
                color: #fff;
                background: $skm_red;
                border-radius: 100rem;
                border: 0;
            }
        }
    }
}
/* s : 비교하기 테이블 */
.wrapper_compare_table{
    padding: 0 tablet(50) tablet(50);
    table{
        width: 100%;
        table-layout: fixed;
        text-align: left;
        border-top: tablet(2) solid #222;
        caption{
            font-family: $robotoB, $notoB;
            font-size: tablet(28);
            text-align: left;
            margin-bottom: tablet(20);
        }
        tbody{
            font-size: tablet(15);
            tr{
                border-bottom: tablet(1) solid #e5e5e5;
                th,td{
                    padding: tablet(16);
                }
                th{
                    font-family: $robotoM, $notoM;
                    background: #f8f8f8;
                    vertical-align: middle;
                }
                td{
                    font-family: $robotoR, $notoR;
                    & + td{
                        border-left: tablet(1) solid #e5e5e5;
                    }
                    ul{
                        li{
                            line-height: tablet(30);
                        }
                    }
                    .prd_title{
                        white-space: initial;
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: 0;
                        .title_m{
                            width: 100%;
                            height: auto;
                        }
                    }                    
                }
            }
            .prd_img{
                td{
                    text-align: center;
                    img{
                        max-width: 100%;
                    }
                }
            }//prd_img            
            .rentalPrice{
                td{
                   font-family: $robotoB,$notoB;
                   color: #ff7a01;
                   font-size: tablet(24);
                }
            }
        }
    }//table
}//wrapper_compare_table
/* e : 비교하기 테이블 */

/* s : 메인 상품 리스트 */
.wrapper_prd_list{
    padding: tablet(50) tablet(80);
    font-size: 0;
    overflow: hidden;
    .prd_list_box{
        display: inline-block;
        width: calc(50% - (40rem / 13.34));
        margin-bottom: tablet(50);
        overflow: hidden;
        &:nth-child(2n){
            float: right;
        }
        &:nth-child(2n - 1){
            float: left;
        }        
        > *{
            vertical-align: top;
        }
        .prd_detail{
            float: left;
            width: tablet(210);
            text-align: center;
            .prd_img{
                margin-bottom: tablet(24);
                img{
                    max-width: 100%;
                }
            }//prd_img
            .prd_state{
                > div{
                    display: inline-block;
                    width: tablet(90);
                    height: tablet(44);
                    line-height: tablet(42);
                    border: tablet(1) solid #e7e7e7;
                    border-radius: 100rem;
                    &+div{
                        margin-left: tablet(6);
                    }
                    >*{
                        vertical-align: middle;
                    }
                    i{
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        margin-right: tablet(4);
                    }
                    span{
                        font-size: tablet(10);
                        font-family: $notoR;
                        color: #666;
                    }
                    &.on{
                        span{
                            color: #fff;
                        }
                    }
                }
                .icon_state_compare{
                    i{
                        width: tablet(20);
                        height: tablet(16);
                        background-image: check(999);
                    }
                    &.on{
                        background-color: $skm_red;
                        border-color: $skm_red;
                        i{
                            background-image: check(fff);
                        }
                    }
                }//icon_state_compare
                .icon_state_fav{
                    i{
                        width: tablet(20);
                        height: tablet(16);
                        background-image: heart(999);
                    }
                    &.on{
                        background-color: #ff7a01;
                        border-color: #ff7a01;
                        i{
                            background-image: heart(fff);
                        }
                    }
                }//icon_state_fav
            }//prd_state
        }//prd_detail
        .prd_info{
            float: right;
            width: calc(100% - (240rem / 13.34));
            text-align: left;
            font-size: 0;
            dl{
                margin-bottom: tablet(3);
                dt{
                    display: inline-block;
                    width: tablet(60);
                    color: #222;
                    vertical-align: top;
                    font-size: tablet(12);
                }//th
                dd{
                    display: inline-block;
                    width: calc(100% - (60rem / 13.34));
                    color: #666;
                    font-size: tablet(12);
                    ul{
                        li{
                            display: inline-block;
                            width: 100%;
                            padding-bottom: tablet(9);
                        }
                    }                        
                }//td
                &.prd_price{
                    margin-bottom: tablet(20);
                    > *{
                        vertical-align: middle;
                    }
                    dd{
                        font-size: tablet(26);
                        font-family: $robotoB;
                        color: #ff7a01;
                        vertical-align: middle;
                    }
                }
            }//tr
        }//prd_info
    }//prd_list_box
}//wrapper_prd_list
.prd_title{
    padding-bottom: tablet(24);
    margin-bottom: tablet(24);            
    border-bottom: tablet(1) solid #c2c2c2;
    font-family: $robotoB,$notoB;
    overflow: hidden;
    > * {
        display: inline-block;
        vertical-align: middle;
    }
    .prd_fav_checkbox{
        float: left;
        width: tablet(44);
        height: tablet(44);
        appearance: none;
        border: tablet(1) solid #c1c1c1;
        background-image: check(c2c2c2);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: tablet(24);
        background-position: center;
        &:focus{
            outline: 0;
        }
        &:checked{
            background-image: check(fff);
            background-color: #222;
            border-color: #222;
        }
        & ~ [class^=title_]{
            width: calc(100% - (44rem / 13.34));
            padding-left: tablet(20);
        }
    }            
    .title_s{
        width: 100%;
        font-size: tablet(14);
        padding-bottom: tablet(6);
    }//title_s
    .title_m{
        width: calc(100% - (90rem / 13.34));
        font-size: tablet(24);
        height: tablet(24);
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        span{
            color: #999;
            margin-left: tablet(6);
        }
    }//title_m
    .prd_recommend{
        width: tablet(90);
        text-align: right;
        i{
            width: tablet(40);
            height: tablet(20);
            &+i{
                margin-left: tablet(6);
            }
        }
        .icon_new{
            background-image: url(../images/icon/icon_new.svg);
        }
        .icon_hit{
            background-image: url(../images/icon/icon_hit.svg);
        }
    }//prd_recommend
}//prd_title
/* e : 메인 상품 리스트 */

/* s : 비교하기 버튼 */
.wrapper_compare_buttons{
    display: none;
    position: fixed;
    bottom: tablet(60);
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0;
    &.on{
        display: inline-block;
    }
    > *{
        display: inline-block;
        vertical-align: middle;
        box-shadow: 0 tablet(5) tablet(10) 0 rgba(0,0,0,.25);
    }
    .btn_go_compare{
        width: tablet(200);
        height: tablet(62);
        line-height: tablet(62);
        background-color: $skm_red;
        border-radius: 100rem;
        text-align: center;
        color: #fff;
        font-family: $robotoB,$notoB;
        font-size: tablet(16);
        margin-right: tablet(10);
        i{
            display: inline-block;
            width: tablet(8);
            height: tablet(10);
            background-image: arrow(fff);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(180deg);
            margin-left: tablet(6);
        }
    }
    .btn_close_compare{
        width: tablet(62);
        height: tablet(62);
        border-radius: 100%;
        background-image: close(fff);
        background-repeat: no-repeat;
        background-size: tablet(14);
        background-position: center;
        background-color: #222;
    }
}
/* e : 비교하기 버튼 */

// e : *********************** 엘리먼트 ***********************

/* s : 마케팅 활용 동의 모바일 랜딩페이지 */
.wrapper_marketing_agree{
    padding: mobile(80) mobile(40) mobile(120);
    .marketing_agree_title{
        font-family: $robotoB,$notoB;
        font-size: mobile(44);
        line-height: mobile(66);
        padding-bottom: mobile(40);
        margin-bottom: mobile(40);
        border-bottom: mobile(4) solid #222;
    }
    .marketing_agree_detail{
        font-family: $robotoM,$notoM;
        font-size: mobile(32);
        line-height: mobile(46);
        margin-bottom: mobile(40);
    }
    .marketing_agree_list{
        background: #f8f8f8;
        padding: mobile(40) mobile(30);
        margin-bottom: mobile(30);
        dl{
            & + dl{
                margin-top: mobile(40);
            }
            dt{
                font-size: mobile(26);
                font-family: $robotoB,$notoB;
            }
            dd{
                font-size: mobile(28);
                font-family: $robotoR,$notoR;
                margin-top: mobile(20);
                padding-left: mobile(16);
            }
        }
    }
    ul.marketing_agree_notice{
        margin-bottom: mobile(60);
        li{
            padding-left: mobile(20);
            font-family: $robotoR,$notoR;
            font-size: mobile(26);
            line-height: mobile(38);
            color: #666;
            position: relative;
            letter-spacing: calc(-1 * (1rem / 7.5));
            &:before{
                position: absolute;
                left: 0;
                content: "\2022";
            }
        }
    }
    table.marketing_agree_info{
        width: 100%;
        border-top: mobile(2) solid #222;
        font-family: $robotoB,$notoB;
        font-size: mobile(26);
        text-align: left;
        margin-bottom: mobile(80);
        tbody{
            tr{
                border-bottom: mobile(2) solid #c2c2c2;
                th,td{
                    padding: mobile(30);
                }
                th{
                    background: #f8f8f8;
                }
            }
        }
    }
    .marketing_agree_buttons{
        font-size: 0;
        margin-bottom: mobile(80);
        overflow: hidden;
        button{
            height: mobile(120);
            border-radius: 100rem;
            font-family: $robotoB,$notoB;
            font-size: mobile(32);
        }
        .btn_agree{
            float: left;
            width: calc(100% - (212rem / 7.5));
            color: #fff;
            background: $skm_red;
            border: mobile(2) solid $skm_red;
        }
        .btn_disagree{
            float: right;
            width: mobile(200);
            color: #666;
            background: #fff;
            border: mobile(2) solid #666;
        }
    }
    .marketing_agree_footer{
        text-align: center;
        font-family: $robotoB,$notoB;
        font-size: mobile(32);
        color: #999;
    }
}
/* e : 마케팅 활용 동의 모바일 랜딩페이지 */