$notoL: 'notoSansLight';
$notoR: 'notoSansRegular';
$notoM: 'notoSansMedium';
$notoB: 'notoSansBold';
$robotoL: 'robotoLight';
$robotoR: 'robotoRegular';
$robotoM: 'robotoMedium';
$robotoB: 'robotoBold';

$skm_red: #e3163a;

$px1: calc(1rem / 13.34);
$px2: calc(2rem / 13.34);
$px3: calc(3rem / 13.34);
$px4: calc(4rem / 13.34);
$px5: calc(5rem / 13.34);
$px6: calc(6rem / 13.34);
$px7: calc(7rem / 13.34);
$px8: calc(8rem / 13.34);
$px9: calc(9rem / 13.34);
$px10: calc(10rem / 13.34);
$px11: calc(11rem / 13.34);
$px12: calc(12rem / 13.34);
$px13: calc(13rem / 13.34);
$px14: calc(14rem / 13.34);
$px15: calc(15rem / 13.34);
$px16: calc(16rem / 13.34);
$px17: calc(17rem / 13.34);
$px18: calc(18rem / 13.34);
$px19: calc(19rem / 13.34);
$px20: calc(20rem / 13.34);
$px21: calc(21rem / 13.34);
$px22: calc(22rem / 13.34);
$px23: calc(23rem / 13.34);
$px24: calc(24rem / 13.34);
$px25: calc(25rem / 13.34);
$px26: calc(26rem / 13.34);
$px28: calc(28rem / 13.34);
$px30: calc(30rem / 13.34);
$px32: calc(32rem / 13.34);
$px34: calc(34rem / 13.34);
$px35: calc(35rem / 13.34);
$px36: calc(36rem / 13.34);
$px38: calc(38rem / 13.34);
$px40: calc(40rem / 13.34);
$px41: calc(41rem / 13.34);
$px42: calc(42rem / 13.34);
$px44: calc(44rem / 13.34);
$px45: calc(45rem / 13.34);
$px46: calc(46rem / 13.34);
$px48: calc(48rem / 13.34);
$px50: calc(50rem / 13.34);
$px52: calc(52rem / 13.34);
$px54: calc(54rem / 13.34);
$px56: calc(56rem / 13.34);
$px58: calc(58rem / 13.34);
$px60: calc(60rem / 13.34);
$px61: calc(61rem / 13.34);
$px62: calc(62rem / 13.34);
$px64: calc(64rem / 13.34);
$px66: calc(66rem / 13.34);
$px68: calc(68rem / 13.34);
$px70: calc(70rem / 13.34);
$px72: calc(72rem / 13.34);
$px74: calc(74rem / 13.34);
$px76: calc(76rem / 13.34);
$px78: calc(78rem / 13.34);
$px80: calc(80rem / 13.34);
$px84: calc(84rem / 13.34);
$px85: calc(85rem / 13.34);
$px86: calc(86rem / 13.34);
$px88: calc(88rem / 13.34);
$px90: calc(90rem / 13.34);
$px94: calc(94rem / 13.34);
$px96: calc(96rem / 13.34);
$px100: calc(100rem / 13.34);
$px102: calc(102rem / 13.34);
$px104: calc(104rem / 13.34);
$px105: calc(105rem / 13.34);
$px106: calc(106rem / 13.34);
$px109: calc(109rem / 13.34);
$px110: calc(110rem / 13.34);
$px113: calc(113rem / 13.34);
$px114: calc(114rem / 13.34);
$px116: calc(116rem / 13.34);
$px120: calc(120rem / 13.34);
$px131: calc(131rem / 13.34);
$px132: calc(132rem / 13.34);
$px132: calc(132rem / 13.34);
$px135: calc(135rem / 13.34);
$px138: calc(138rem / 13.34);
$px140: calc(140rem / 13.34);
$px142: calc(142rem / 13.34);
$px150: calc(150rem / 13.34);
$px154: calc(154rem / 13.34);
$px155: calc(155rem / 13.34);
$px160: calc(160rem / 13.34);
$px170: calc(170rem / 13.34);
$px178: calc(178rem / 13.34);
$px180: calc(180rem / 13.34);
$px172: calc(172rem / 13.34);
$px182: calc(182rem / 13.34);
$px186: calc(186rem / 13.34);
$px194: calc(194rem / 13.34);
$px200: calc(200rem / 13.34);
$px208: calc(208rem / 13.34);
$px210: calc(210rem / 13.34);
$px220: calc(220rem / 13.34);
$px240: calc(240rem / 13.34);
$px249: calc(249rem / 13.34);
$px252: calc(252rem / 13.34);
$px260: calc(260rem / 13.34);
$px270: calc(270rem / 13.34);
$px280: calc(280rem / 13.34);
$px282: calc(282rem / 13.34);
$px284: calc(284rem / 13.34);
$px294: calc(294rem / 13.34);
$px300: calc(300rem / 13.34);
$px310: calc(310rem / 13.34);
$px314: calc(314rem / 13.34);
$px320: calc(320rem / 13.34);
$px330: calc(330rem / 13.34);
$px340: calc(340rem / 13.34);
$px375: calc(375rem / 13.34);
$px384: calc(384rem / 13.34);
$px350: calc(350rem / 13.34);
$px360: calc(360rem / 13.34);
$px380: calc(380rem / 13.34);
$px390: calc(390rem / 13.34);
$px400: calc(400rem / 13.34);
$px410: calc(410rem / 13.34);
$px436: calc(436rem / 13.34);
$px440: calc(440rem / 13.34);
$px450: calc(450rem / 13.34);
$px470: calc(470rem / 13.34);
$px480: calc(480rem / 13.34);
$px550: calc(550rem / 13.34);
$px600: calc(600rem / 13.34);
$px630: calc(630rem / 13.34);
$px650: calc(650rem / 13.34);
$px670: calc(670rem / 13.34);
$px700: calc(700rem / 13.34);
$px702: calc(702rem / 13.34);
$px750: calc(750rem / 13.34);
$px910: calc(910rem / 13.34);
$px930: calc(930rem / 13.34);
$px1080: calc(1080rem / 13.34);