$notoL: 'notoSansLight';
$notoR: 'notoSansRegular';
$notoM: 'notoSansMedium';
$notoB: 'notoSansBold';
$robotoL: 'robotoLight';
$robotoR: 'robotoRegular';
$robotoM: 'robotoMedium';
$robotoB: 'robotoBold';

$skm_red: #e3163a;

@function tablet($size){
    @return calc(#{$size}rem / 13.34);
}
@function mobile($size){
    @return calc(#{$size}rem / 7.5);
}