doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title skmagic
        link(rel="stylesheet" type="text/css" href="../css/skm_ctlg.css")
    body
        // s : 컨테이너
        .wrapper_skm_ctlg 
            .skm_ctlg_login
                h1.skm_ctlg_logo
                form.wrapper_login(action="") 
                    input(type="text" placeholder="아이디")
                    input(type="password" placeholder="비밀번호")
                    input(type="checkbox" id="saveUserinfo")
                    label(for="saveUserinfo") 회원정보 저장
                    button(type="button" onclick="location.href='./01_skm_ctlg_main.html'") 로그인
        // e : 컨테이너