doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title skmagic
        link(rel="stylesheet" type="text/css" href="../css/skm_ctlg.css")
    body
        .wrapper_marketing_agree
            .marketing_agree_title 마케팅 활용을 위한<br />개인정보 수집ㆍ이용 동의 안내(선택)
            .marketing_agree_detail SK매직㈜이 카달로그, e-book 등 홍보물 발송 및 광고성 정보의 전송을 위하여 다음과 같이 고객의 개인정보를 수집 및 이용하는 것에 동의합니다.
            .marketing_agree_list
                dl
                    dt 1.수입 · 이용 목적 
                    dd 상품 및 서비스 안내, 프로모션 및 이벤트 정보의 안내
                dl 
                    dt 2.수집 · 이용 항목 
                    dd 성명, 휴대폰번호
                dl
                    dt 3.보유 · 이용 기간
                    dd 수집일로부터 6개월 또는 본 동의 철회 시까지
            ul.marketing_agree_notice 
                li 마케팅 활용을 위한 개인정보 제공에 대한 동의를 거부할 권리가 있으며, 미동의시 상품 안내, 광고성 정보 전송 등이 제한됩니다.
            table.marketing_agree_info 
                colgroup 
                    col(width="24%")
                    col(width="*")
                tbody
                    tr 
                        th 성명
                        td 홍길동
                    tr
                        th 연락처
                        td 01012345678
            .marketing_agree_buttons 
                button(type="button").btn_agree 네, 동의합니다
                button(type="button").btn_disagree 아니오
            .marketing_agree_footer SK매직 주식회사 귀중